body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.arknights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a:link {
  color:lightskyblue;
}
a:visited {
  color:lightpink;
}
a:hover {
  color:lightyellow;
}